body
  font-family Ubuntu, Calibri, sans-serif
  font-size 18px
  background #363636
  color #fff
  text-shadow -2px 2px 4px #000
  text-align center

h1
  margin-top 80px
  margin-bottom 80px
  box-sizing border-box
  padding-left 20px
  padding-right 20px

.gallery
  margin-bottom 40px
  padding-left 20px
  padding-right 20px

  &__list
    display flex
    flex-wrap wrap
    width 100%
    max-width 1040px
    margin-left auto
    margin-right auto

  &__item
    width 100%
    margin-bottom 20px
    background white
    border 2px solid white

  &__img
    width 100%
    display block

.footer
  &__copy
    margin-top 20px
    margin-bottom 20px
